DATABASE_URL=
TELEGRAM_API_KEY=
OPENROUTER_API_KEY=
REPLICATE_API_TOKEN=
GOOGLE_APPLICATION_CREDENTIALS=
GOOGLE_AI_API_KEY=
GOOGLE_CUSTOM_SEARCH_API_KEY=
GOOGLE_CUSTOM_SEARCH_ENGINE_ID=
HUGGINGFACE_HUB_TOKEN=
MEMGPT_SERVER_KEY=
MEMGPT_URL=
TELEGRAM_BOT_UPDATES_CHAT_ID=
TELEGRAM_BOT_TESTING_CHAT_ID=
OPENAI_API_KEY=
TELEGRAM_GPT4_CHAT_ID=
COINGECKO_API_KEY=
OLLAMA_URL=
